body {
  background-color: blanchedalmond;
}

.container {
  margin: 22px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.partie {
  padding: 5;
  border: solid 0.3em;
}
.partie1 {
  order: 1;
  max-width: 500px;
}
.partie2 {
  order: 2;
  min-height: 100px;
}
.partie3 {
  order: 3;
  max-width: 500px;
}
.partie4 {
  order: 4;
  max-width: 500px;
}
.dropzone {
  width: 45%;
  height: auto;
  border: solid 0.1em red;
  background-color: rosybrown;
}
